name: Development Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Read gradle properties
        id: properties_v
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: gradle.properties
          properties: mod_version mc_version mc_version_range

      - name: Get version
        id: version
        run: |
          echo "version=${{ steps.properties_v.outputs.mod_version }}+build.$GITHUB_RUN_NUMBER" >> $GITHUB_OUTPUT

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Generate asset resource
        run: ./gradlew runData

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts for ${{ steps.version.outputs.version }}
          path: build/libs/
