name: Upload Release Asset
on:
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    env:
      BUILD_MOD_VERSION: ${{ github.event.release.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Read gradle properties
        id: properties_v
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: gradle.properties
          properties: mod_version mc_version mc_version_range

      - name: Get version
        id: version
        run: |
          echo "version=${{ steps.properties_v.outputs.mod_version }}+build.$GITHUB_RUN_NUMBER" >> $GITHUB_OUTPUT

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Fetch with Gradle
        id: name
        run: |
          NAME=$(./gradlew -q projectName)
          echo "PROJECT_NAME=$NAME" >> $GITHUB_OUTPUT

      - name: Build with Gradle
        run: |
          ./gradlew runData
          ./gradlew build

      - name: Upload Release Jar
        uses: softprops/action-gh-release@v0.1.15
        with:
          files: |
            build/libs/${{ steps.name.outputs.PROJECT_NAME }}-${{ steps.version.outputs.version }}.jar

#      - name: publish neoforge mc mod
#        uses: Kir-Antipov/mc-publish@v3.3
#        continue-on-error: true
#        with:
#          name: "${{ steps.properties.outputs.mod_name }} For NeoForge v${{ steps.version.outputs.version }}"
#          version: ${{ steps.version.outputs.version }}
#          game-versions: 1.21.1
#          version-type: ${{ env.VERSION_TYPE }}
#          java: 21
#          fail-mode: skip
#          changelog: ${{ github.event.release.body }}
#
#          modrinth-id: vuISAWPc
#          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
#          modrinth-featured: true
#
#          curseforge-id: 986251
#          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
#
#          files: |
#            build/libs/anvilcraft-neoforge-${{ steps.version.outputs.version }}.jar
#            build/libs/anvilcraft-neoforge-${{ steps.version.outputs.version }}-sources.jar
