name: Manual Test

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Read gradle properties
        id: properties
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: gradle.properties
          properties: mc_version mc_version_range mod_name

      - name: Get build info
        id: info
        run: |
          echo "main_version=${{ github.event.release.tag_name }}" >> $GITHUB_OUTPUT
          echo "version=${{ github.event.release.tag_name }}+build.$GITHUB_RUN_NUMBER" >> $GITHUB_OUTPUT
          echo "mc_version=${{ steps.properties.outputs.mc_version }}" >> $GITHUB_OUTPUT
          echo "mc_version_range=${{ steps.properties.outputs.mc_version_range }}" >> $GITHUB_OUTPUT
          echo "mod_name=${{ steps.properties.outputs.mod_name }}" >> $GITHUB_OUTPUT
          echo "file=build/libs/${{ steps.properties.outputs.mod_name }}-${{ github.event.release.tag_name }}+build.$GITHUB_RUN_NUMBER.jar" >> $GITHUB_OUTPUT

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Generate asset resource
        run: ./gradlew runData

      - name: Build with Gradle
        run: ./gradlew build

      - name: Test with Gradle
        id: name
        run: |
          NAME=$(./gradlew -q projectName)
          echo "Name: $NAME"
          echo "PROJECT_NAME=$NAME" >> $GITHUB_OUTPUT

      - name: Debug
        run: |
          echo "${{ steps.name.outputs.PROJECT_NAME }}-${{ steps.version.outputs.version }}"